#root {
  max-width: 1420px;
  margin: 0 auto;
}
a {
  text-decoration: none !important;
}
.posi-rel {
  position: relative;
}
.posi-ab {
  position: absolute;
}
.new-items {
  background-color: green;
  color: white;
  padding: .3rem 1rem;
  left: 8%;
  top: 2%;
}
.header-container {
  background-color: lightgray;
  margin: 0 !important;
  max-width: 1420px !important;
}
.carousel-control-next-icon {
  background-color: black;
}
.carousel-control-prev-icon {
  background-color: black;
}
.carousel-imgs {
  max-width: 400px;
  height: 550px;
  overflow: hidden;
}
.new-arr-imgs {
  width: 250px;
  height: 300px;
  object-fit: cover;
}